<div class="author">
    <h1 class="author__heading">Hi, I am Nadav KT</h1>
    <p class="author__body">Student for Software Engineer & fullstack developer</p>
</div>

<img src="" alt="" class="" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest posts</h2>

    <ul>
        <li>
            <a href="">
                <span>post title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; view older posts</a>
</section>